<table class="table">
    <tr>
        <th class="text-center">№</th>
        <th class="text-center">Число</th>
        <th class="text-center">Число в квадрате</th>
    </tr>
    <% @data.squared.each_with_index do |arr, index|%>
      <tr>
          <td class="text-center"><%= index + 1%></td>
          <td class="text-center"><%= arr[0]%></td>
          <td class="text-center"><%= arr[1]%></td>
      </tr>
    <%end%>
</table>