<div class="container-sm">
  <%= bootstrap_form_tag url: '/output', method: :get do |form| %>
    <%= form.number_field :input, value: 1, label: "Введите n"%>
    <%= form.submit 'Find' %>
  <% end %>
</div>
