<div id="output-container">
<table class="table">
    <tr>
        <th class="text-center">№</th>
        <th class="text-center">Число</th>
        <th class="text-center">Число в квадрате</th>
    </tr>
    <%@result.each_with_index do |cort, index|%>
    <tr>
        <td class="text-center"><%= index+1%></td>
        <td class="text-center"><%= cort[0]%></td>
        <td class="text-center"><%= cort[1]%></td>
    </tr>
    <%end%>
</table>
</div>